html {
    scroll-behavior: smooth; 
  }
main{
  background-color: #d8bfbf;
  width: 1200px;
  margin: auto;
}
body {
    font-family: "cursive";
    font-size: 25px;
    font-bold:bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(82, 25, 25);


}
.fit-picture {
    width:250px;
    heigth:250px;
    margin: auto;

}
*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #e9e9d9;
    padding: 20px 0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-style: italic;   
}

.nav-link{
  margin-left: 30px;
}
.nav-link:hover {
    padding: 0 20px;
    list-style: none;
    color: rgb(165, 42, 42);
    font-size: 2rem;
    transition: .3s;  
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #5c4646;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .section {
    width: 1200px;
    margin: auto;
  }
  .section-title{
    font-style: italic;
    color:rgb(138, 34, 179)
  }

footer{
  width: 1200px;
  background-color: #92cfc0;
  margin: auto;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: auto; */
}

.school-logo{
  width: 100px;
  height: 70px;
}
