html {
    scroll-behavior: smooth; 
  }
body {
    font-family: "cursive";
    font-size: 25px;
    font-bold:bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(82, 25, 25);


}
.fit-picture {
    width:250px;
    heigth:250px;

}
*{
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-style: italic;
    
}
.nav-link:hover {
    padding: 0 20px;
    list-style: none;
    color: rgb(165, 42, 42);
    font-size: 2rem;
    transition: .3s;
   
}
.section-item a {
    color: #829985;
    text-decoration: none;  
    transition: color 0.5s;
  }
  .section-item a:hover {
    color: #4b2323;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
    }
  .section-title{
    font-style: italic;
    color:rgb(138, 34, 179)
  }



